.item{
    width: 60px;
    height: 60px;
    border-color: rgba(196, 187, 255, 0.8);
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 10px;
    border-radius: 100px;
}

.item_img{
    width: 30px;
    height: 30px;
}

.navbar{
    position: absolute;
    left: 20px;
    top: 104px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    background-color: rgba(48, 72, 128, 0.2);
    border-radius: 13px;
}